html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 800px;
    width: 100%;
    margin: auto;

}

.form {
    padding: 30px;

    background-color: rgba(127, 255, 212, 0.137);
    border-radius: 5px;
    font-size: 20px;
}